.drinks-container{
    width: 100%;
    padding: 1%;
}
.drinks-container section{
    padding: 1vh;
}
.drinks-container h1{
    background-color: white;
    padding: 1vh;
    border-bottom: 2px solid black;
}